// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$background-light-blue: #5c9fd88f;
$background-blue: #00B2EF;
$background-yellow: #FFC43B;
$background-info: #63CACD;
$grey: #EFEEF2;
$grey-dark: #969696;
$blue: #4B8CDE;
$purple: #302A6C;

// Fonts
$small: 16px;
$medium: 20px;
$big: 48px;
